@use "./mixins" as *;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-section {
  background-image: url(/hero-background.png);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
.header {
  margin-top: 75px;
  @include adaptiveValue("width", 1169, 330);
  height: 52.31px;

  &__nav {
    @extend %flex-between;
  }

  &__nav-menu {
    height: 25px;
    display: flex;
    gap: 35px;
  }
}

.greeting {
  margin: auto;
  @include adaptiveValue("width", 1170, 350);
  height: 311px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

p {
  font-size: 48px;
}
h1 {
  // font-size: 90px;
  @include adaptiveValue("font-size", 90, 50);
}

.hero-section-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 18px;

  & p {
    font-size: 18px;
  }

  &:hover {
    cursor: pointer;
  }
}

.about {
  width: 100vw;
  min-height: 591px;

  & h2 {
    min-width: 211px;
    height: 62px;
    font-size: 48px;
  }

  & p {
    max-width: 1168px;
    max-height: 81px;
    font-size: 18px;
  }
}
