@use "./mixins" as *;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


%flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


html {
  scroll-behavior: smooth;
}


.section {
  padding-top: 140px;
  padding-bottom: 140px;
}

.hero-section {
  background-image: url(/hero-background.png);
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.header {
  margin-top: 75px;
  @include adaptiveValue("width", 1169, 330);
  height: 52.31px;

  &__nav {
    @extend %flex-between;
  }

  &__nav-menu {
    height: 25px;
    display: flex;
    gap: 35px;
  }
}

.greeting {
  margin: auto;
  @include adaptiveValue("width", 1170, 350);
  height: 311px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

p {
  font-size: 48px;
}

h1 {
  @include adaptiveValue("font-size", 90, 50);
}

.hero-section-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 18px;

  & p {
    font-size: 18px;
  }

  &:hover {
    cursor: pointer;
  }
}

#about {

  margin: auto;
  max-width: 1170px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;

  & h2 {
    min-width: 211px;
    height: 62px;
    font-size: 48px;
  }

  & p {
    max-width: 1168px;
    max-height: 81px;
    font-size: 18px;
  }
}

.about-content {
display: flex;
flex-direction: column;
gap: 30px;}

#skills {
  margin: auto;
  max-width: 1170px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.skills__content {
  max-width: 1170px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 60px;
}


.skills__list {
  width: 665px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.skills__item {
  display: flex;
  gap: 8px;
}

.skills__name {
  width: 65px;
  font-size: 20px;
  font-weight: 600;
}


.skills__bar {
  width: 100%;
  height: 28px;
  background: #dbdbed;
  border-radius: 6px;
  overflow: hidden;
}

.skills__progress {
  height: 100%;
  background-color: #4A6CF7;
  /* приятная анимация */
}

.section-title {
  font-size: 48px;
}

#services {
  max-width: 1170px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 90px;
}

.services-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.services__title {
  font-size: 28px;
}

.services__description {
  font-size: 16px;
}

@media screen and (max-width: 1185px) {
  .skills__content {
    flex-direction: column;
  }
}